@import "../../scss/utils/bootstrap.scss";

.main_btn {
    .btn {
        width: 100%;
        height: 45px;
    }
}

.icon_btn {
    margin-right: 5px;
}

.btn-facebook {
    @include button-variant($color-blue-1, $color-blue-1);
}

.btn-twitter {
    @include button-variant($color-blue-2, $color-blue-2);
}

.btn-google {
    @include button-variant(#ffffff, $border-color);
    color: $color-blue;
}
