
//FONT
$font-family-base: "SVN-Sofia Pro";

//COLOR
$color: #3c3c3c;

$white: #fff;
$black: #000;

//MAIN COLOR RED
$color-red: #c60202;

//MAIN COLOR GREEN
$primary: #16b979 !default;

//MAIN COLOR BLUE

$color-blue: #081240;
$color-blue-1: #3b5998;
$color-blue-2: #00acee;
$color-blue-3: #005f89;

//BORDER COLOR
$border-color: #d5d5d5;
