@import "../../scss/utils/bootstrap.scss";

.item_menu {

  .link_menu {
    transition: all 0.3s ease;
    white-space: nowrap;

    &.active,
    &:hover {
      background-color: $blue;
      color: $white !important;
      box-shadow: 0 10px 15px rgba($blue, 0.25);

      i,
      span {
        color: $white !important;
      }
    }

    i,
    span {
      transition: all 0.3s ease;
    }
  }
}

.wr_list_menu {
  .item_menu {
    &:first-child {
      .link_menu {
        background-color: transparent !important;
        box-shadow: none;

        i,
        span {
          color: $color-blue !important;
        }
      }
    }
  }
}

.section_menu_title,
.header_logo {
  transition: all 0.3s ease;
}