@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "../../scss/utils/bootstrap.scss";

.rbc-header {
  border-bottom: 0;
  padding: 12px 3px;
  text-transform: uppercase;

  +.rbc-header {
    border-left: 0;
  }

  span {
    &::first-letter {
      font-size: 200%;
      color: #8A2BE2;
    }
  }
}

.wrapper_calendar_full {
  .back-next-buttons {
    .btn-today {
      width: auto;
      height: auto;
    }
  }

  .rbc-btn-group {
    button {
      &:focus {
        outline: none;
      }
    }
  }

  .rbc-month-view,
  .rbc-time-view {
    background-color: $white;
  }

  .rbc-month-view {
    border: 0;
  }

  .rbc-allday-cell {
    display: none;

    .rbc-day-bg {
      border-left: 0;
    }
  }

  .rbc-month-header,
  .rbc-time-header {
    background-color: $color-blue-6;


  }

  .rbc-day-bg {
    border-left: 1px solid $border-color;

    &:last-child {
      border-right: 1px solid $border-color;
    }
  }

  .rbc-month-row {
    &:last-child {
      border-bottom: 1px solid $border-color;
    }
  }

  .rbc-row-segment {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    margin-bottom: 3px;

    &:focus {
      outline: none;
    }
  }

  .rbc-event-content {
    font-size: $h8-font-size;
  }

  .rbc-day-slot {
    .rbc-event {
      border: 0;
    }
  }
}

.rbc-today {
  background-color: transparent;
}

.rbc-event,
.rbc-event-content {
  &:focus {
    outline: none;
  }
}

.event-blue {
  background-color: rgba($color: $color-blue-7, $alpha: 0.25);

  &.rbc-selected {
    background-color: rgba($color: $color-blue-7, $alpha: 0.25);
  }

  .rbc-event-content,
  .wrapper_des_event span {
    color: $color-blue-7;
  }
}

.event-red {
  background-color: rgba($color: $color-red-3, $alpha: 0.25);

  &.rbc-selected {
    background-color: rgba($color: $color-red-3, $alpha: 0.25);
  }

  .rbc-event-content,
  .wrapper_des_event span {
    color: $color-red-3;
  }
}

.event-pink {
  background-color: rgba($color: $color-pink, $alpha: 0.25);

  &.rbc-selected {
    background-color: rgba($color: $color-pink, $alpha: 0.25);
  }

  .rbc-event-content,
  .wrapper_des_event span {
    color: $color-pink;
  }
}

.event-green {
  background-color: rgba($color: $color-green-3, $alpha: 0.25);

  &.rbc-selected {
    background-color: rgba($color: $color-green-3, $alpha: 0.25);
  }

  .rbc-event-content,
  .wrapper_des_event span {
    color: $color-green-3;
  }
}

.event-orange {
  background-color: rgba($color: $color-orange, $alpha: 0.25);

  &.rbc-selected {
    background-color: rgba($color: $color-orange, $alpha: 0.25);
  }

  .rbc-event-content,
  .wrapper_des_event span {
    color: $color-orange;
  }
}

.event-gray {
  background-color: rgba($color: $color-gray, $alpha: 0.25);

  &.rbc-selected {
    background-color: rgba($color: $color-gray, $alpha: 0.25);
  }

  .rbc-event-content,
  .wrapper_des_event span {
    color: $color-gray;
  }
}

.event-purple {
  background-color: rgba($color: $color-purple, $alpha: 0.25);

  &.rbc-selected {
    background-color: rgba($color: $color-purple, $alpha: 0.25);
  }

  .rbc-event-content,
  .wrapper_des_event span {
    color: $color-purple;
  }
}

.popover {
  width: 350px;
  margin-left: 10px !important;

  &:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid $color-blue-6;
    border-bottom: 7px solid transparent;
    margin-top: auto;
    margin-bottom: auto;
  }
}