@import "../../scss/utils/bootstrap.scss";

.wrapper_banner_left {
  @include bg;
  background-image: url("./banner-left.png");
}

.content_banner_left {
  padding: 50px;

  .swiper-wrapper {
    margin-bottom: 50px;
  }

  .swiper-pagination-bullet {
    background: $white;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $primary;
  }
}

.wrapper_text_slider {
  color: $white;
  .text_slider {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
}

.wrapper_icon_slider {
  margin-bottom: 15px;
}
