@import "../../scss/utils/bootstrap.scss";

.link-menu {
  transition: all 0.3s ease;

  &.active,
  &:hover {
    background-color: $blue;
    color: $white;
    box-shadow: 0 10px 15px rgba($blue, 0.25);
  }
}
