@import "../../scss/utils/bootstrap.scss";

.item_menu {

  &.active,
  &:hover {
    .link_menu {
      background-color: $blue;
      color: $white !important;
      box-shadow: 0 10px 15px rgba($blue, 0.25);
    }
  }

  .link_menu {
    transition: all 0.3s ease;
  }
}