@import "../../scss/utils/bootstrap.scss";

.link_menu {
    display: block;
    color: $color-blue;
    padding: 12px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    &.active {
        background-color: $color-blue-3;
        color: $white;
        box-shadow: 0 10px 15px #005F894A;
    }

    &:hover {
        color: $color-blue-3;
    }
}

.text_menu {
    margin-left: 10px;
}