@import "../../scss/utils/bootstrap.scss";

.wrapper_form {
    .form-group {
        margin-bottom: 30px;
    }
}

.wrapper_description_reset {
    margin-bottom: 20px;
}

.description_reset {
    color: rgba($color: $black, $alpha: 0.8)
}