.wrapper_btn_account {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
}

.item_btn_account {
    padding: 0 10px;
}

.form_group_check {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    .text_link {
        flex: 1;
        text-align: right;
    }
}