@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "../../scss/utils/bootstrap.scss";

.back-next-buttons {
  button {
    width: 32px;
    height: 32px;

    &:focus {
      outline: none;
    }
  }
}

.rbc-month-header {
  background-color: $color-blue-4;
}

.rbc-off-range-bg {
  background-color: transparent;
}

.sbar_calendar {
  .rbc-month-header {
    border-radius: 5px;
  }

  .rbc-month-view {
    border: 0;
  }

  .rbc-header {
    font-weight: normal;
  }

  .rbc-day-bg {
    border-radius: 5px;

    +.rbc-day-bg {
      border-left: 0;
    }
  }

  .rbc-month-row {
    justify-content: center;

    +.rbc-month-row {
      border-top: 0;
    }
  }

  .rbc-date-cell {
    text-align: center;
  }

  .rbc-today {
    background-color: $color-blue-3;
  }

  .rbc-current {
    color: $green;
  }

  .rbc-date-cell.rbc-now {
    color: $white;
  }
}