@import "./utils/bootstrap.scss";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";

@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "../fonts/fontface.scss";

@import "~bootstrap/scss/utilities/api";

img {
  max-width: 100%;
}

.btn-success {
  color: $white;
}

.main-panel > .content {
  position: relative;
  float: right;
  width: calc(100% - 260px);
}

.w-260 {
  width: 260px;
  transition: all 0.4s ease;
}

.w-400 {
  width: 400px;
  transition: all 0.4s ease;
}

.pd-t-80 {
  padding-top: 80px;
}

.h-80 {
  height: 80px;
}

.img-avatar {
  width: 45px;
}

.w-98 {
  width: 98px;
}

.status-progress {
  background-color: $color-green-2;
  color: $green;
}

.status-to {
  background-color: rgba($color: $yellow, $alpha: 0.4);
  color: $yellow;
}

.status-stop {
  background-color: $color-red-2;
  color: $red;
}

.pe-400 {
  padding-right: 400px !important;
}

.z-index-100 {
  z-index: 100;
}

.btn-light {
  border-color: $secondary;
}
