@import "../../scss/utils/bootstrap.scss";

.wr_input_search {
  width: 370px !important;
}

.content_header {
  height: 80px;
}

.wrapper_dropdown {
  .dropdown-menu {
    &.show {
      min-width: 400px;
    }
  }
}

.wrapper_avatar {
  .dropdown-menu {
    &.show {
      min-width: 230px;
    }
  }
}

//Change style tab

.wrapper_tabs {
  .nav-tabs {
    .nav-link {
      border: 0;
      margin-bottom: 0;
      color: rgba($color: $color-blue, $alpha: 0.5);
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $blue;
        opacity: 0;
      }

      &.active,
      &:hover {
        color: $blue;

        &:before {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}